body {
    background-color: white;
}

.sigs {
    font-family: monospace;
    font-size: 120%;
    background-color: rgba(0.0, 0.0, 0.0, 0.2);
    list-style-type: none;
    padding-left: 1em;
    padding-top: calc(1em - 0.5em);
    padding-bottom: 1em;
    border-radius: 5px;
    
}

.sigs li {
    margin-top: 0.5em;
}

.sigs .fn {
    color: gray;
}

.sigs .arrow {
    color: gray;
}

.sigs .ty {
    color: red;
}

.sigs .ret {
    color: red;
}
